* {
  box-sizing: border-box;
}
body {
  background: #01a9b4;
  font-family: proxima-nova-condensed, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  margin-top: 40px;
}
header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-transform: uppercase;
  color: #87dfd6;
  font-weight: 900;
  font-size: 50px;
  margin: 0;
}
h2 {
  text-transform: uppercase;
  color: #086972;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin-right: 8px;
  background: #086972;
  color: #fbfd8a;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  color: #086972;
  background: #fbfd8a;
  cursor: pointer;
  transition: all 0.3s;
}
.info {
  text-transform: uppercase;
  text-align: right;
  color: #87dfd6;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 700;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.card {
  background: #fbfd8a;
  border-radius: 10px;
  /* height: 150px; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  /* box-sizing: content-box; */
}
.card .frontFace,
.card .backFace {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .frontFace {
  object-fit: cover;
  max-width: 100%;
  object-position: center;
}
.card.flip, .card.permaFlip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.frontFace {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.backFace {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
  max-width: 100%;
}
.card.flip .frontFace,
.card.permaFlip .frontFace {
  display: block;
}
.card.flip .backFace,
.card.permaFlip .backFace {
  display: none;
}
.frontFace.hidden {
  display: none;
}
.winner {
  background: hsla(0, 0%, 30%, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  --opacity: 0;
  opacity: var(--opacity);
}
.winnerInner {
  background: #87dfd6;
  padding: 30px;
  border: 3px solid var(--pink);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: all 0.2s;
  font-size: 19px;
}
.winnerInner {
    font-size: 19px;
}
.winner.open {
  --opacity: 1;
  pointer-events: all;
}
#buttonRow {
  margin-top: 20px;
}
@media only screen and (max-width: 1100px) {
  .wrap {
    max-width: 90%;
  }

}
@media only screen and (max-width: 800px) {

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .grid {
    -webkit-perspective: 3000px;
    perspective: 3000px;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    -webkit-transform-style: initial;
    transform-style: initial;
    -webkit-transition: transform 0s;
  transition: transform 0s;
}
.card .frontFace,
.card .backFace {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.card.flip, .card.permaFlip {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.frontFace {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
}